@media (max-width: 992px) {
  #top-navigation {
    column-gap: 10px;
  }
  #top-navigation li {
    margin: 0 10px;
  }
  #service_wrapper {
    flex-wrap: wrap;
  }
  .service {
    flex-basis: 49%;
  }
  .sample {
    flex-basis: 50%;
  }
  #columns_wrapper {
    flex-wrap: wrap;
  }
  .column {
    flex-basis: 48%;
  }
  ul.effect-image li {
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  a#open-close-menu:link,
  a#open-close-menu:visited {
    display: block;
  }
  #top-navigation ul {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: #cb79e1;
    transition: all 0.5s;
  }
  #top-navigation ul.show {
    right: 0;
  }
  #top-navigation ul li {
    display: block;
    margin: 0;
  }
  #top-navigation ul li a:link,
  #top-navigation ul li a:visited {
    color: #ffffff;
    display: #000000;
    padding: 20px;
    border-bottom: 1px solid transparent;
  }
  #top-navigation ul li a:hover {
    border-bottom: 1px solid rgba(119, 87, 183, 0.78);
  }
  .menu-button {
    display: none;
  }
  #search-form {
    width: 80%;
  }
  .service {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  #items-wrapper {
    flex-wrap: wrap;
    padding: 10px;
  }
  .item {
    flex-basis: 49%;
  }
  .item h2, .item h4 {
    margin: 20px 0;
  }
  .top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .right {
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    margin-bottom: 15px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info span {
    margin-top: 5px;
  }
  .stars {
    margin: 5px auto;
    justify-content: center;
  }
  .icon {
    margin-top: 20px;
    position: relative;
    top: -165px;
    left: -80px;
  }
  #communication-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .communicate {
    width: 45%;
  }
  #communication-wrapper .communicate:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .vertical-list {
    column-gap: 0;
  }
  ul.effect-image li {
    display: block;
  }
  #copyright .container {
    display: block;
    text-align: center;
    padding: 8px 0;
  }
  #developer p, #copy p {
    font-size: 12px;
    font-weight: bold;
  }
  #developer p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  #numerals {
    min-height: 1000px;
  }
  #items-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    min-height: 250px;
  }
  .item h2, .item h4 {
    margin: 10px 0;
  }
  .comment-wrapper {
    flex-direction: column;
  }
  ul#filters {
    flex-direction: column;
    margin: 10px 30px;
    padding: 10px;
  }
  ul#filters li a:hover,
  ul#filters li a.active {
    width: 100%;
  }
  ul#filters li {
    margin-top: 5px;
  }
  .sample {
    flex-basis: 100%;
  }
  #columns_wrapper {
    flex-direction: column;
  }
  .column:nth-child(odd) {
    text-align: center;
    align-items: center;
  }
  .team::after {
    height: 17%;
  }
  #communication-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .communicate {
    width: 100%;
  }
  #parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #left, #right {
    width: 100%;
  }
  #my_btn {
    width: 33%;
  }
  ul.effect-image li {
    display: block;
    margin: 0 auto;
  }
  #developer p, #copy p {
    font-size: 11px;
    font-weight: bold;
  }
}

/*# sourceMappingURL=responsive.css.map */
